
.cont {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
 
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }
  
 
  .animal-section {
    margin-bottom: 40px;
  }

  .animal-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  
  .animal-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .animal-card img {
    width: 100%;
    border-radius: 5px;
  }
  
  .animal-card h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .animal-card p {
    font-size: 1rem;
    color: #666;
  }
  