

.container123 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    margin-bottom: 50px;
  }
  
  .mt-5 {
    margin-top: 40px;
  }
  
  .motive-title {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .motive-content {
    line-height: 1.6;
  }
  
  .lead124 {
    margin-bottom: 25px;
  }
  
  .lead {
    margin-bottom: 30px;
  }
  
  .motive-highlight {
    color: #ff4500;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .container123 {
      padding: 15px;
    }
  
    .motive-title {
      font-size: 2rem;
      margin-bottom: 25px;
    }
    
    .lead124,
    .lead {
      font-size: 0.9rem;
      margin-bottom: 20px;
    }
  }
  